<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- begin:: Aside -->
<div th:fragment="brand" class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
	<div class="kt-aside__brand-logo">
		<a th:href="@{/home}">
			<img alt="Logo" th:src="@{/assets/media/logos/logo-dark.png}" />
		</a>
	</div>
	<div class="kt-aside__brand-tools">
		<button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
			<span class="my-aside__brand-aside-toggler-icon fa fa-angle-double-left fa-2x"></span>
			<span class="my-aside__brand-aside-toggler-icon fa fa-angle-double-right fa-2x"></span>
		</button>

		<!--
			<button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
			-->
	</div>
</div>

<!-- end:: Aside -->

</body>
</html>