<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<!-- begin:: Aside Menu -->
<div th:fragment="menu" class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
	<div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
		<ul class="kt-menu__nav ">
			<li th:classappend="${aside_menu_active_link == 'dashboard'} ? 'kt-menu__item--active'" class="kt-menu__item " aria-haspopup="true">
				<a th:href="@{/home}" class="kt-menu__link">
					<span class="kt-menu__link-icon fa fa-th-large"></span><span class="kt-menu__link-text">Dashboard</span>
				</a>
			</li>
			
			<li class="kt-menu__section ">
				<h4 class="kt-menu__section-text">Administration</h4>
				<i class="kt-menu__section-icon flaticon-more-v2"></i>
			</li>
			
			<li th:classappend="${aside_menu_active_link == 'users'} ? 'kt-menu__item--active'" class="kt-menu__item " aria-haspopup="true">
				<a th:href="@{/home/admin/users}" class="kt-menu__link ">
					<span class="kt-menu__link-icon fa fa-users"></span><span class="kt-menu__link-text">Users</span>
				</a>
			</li>			
		</ul>
	</div>
</div>

<!-- end:: Aside Menu -->

</body>
</html>