<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout.html}"
	th:with="aside_layout_menu_active_link='users',
			 aside_layout_submenu_active_link='add-teacher'">
<!-- th:with="currentPage='user-edit'" it is used to pass parameters to layout in thymeleaf layout-dialect  -->

<head>
<title>New Teacher</title>

<!--
	You don't need to put the layout:fragment attribute
	into the <head> - the decoration process will automatically copy the 
	<head> section of this content templates into the layout page.
 
	<th:block layout:fragment="styles">
		<link th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css" />
	</th:block>
-->
<!--begin::Page Styles (used by this page) -->

<!--end::Page Styles -->
</head>

<body>


	<!--begin::Subheader-->
	<div layout:fragment="contentheader"
		class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
		<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Details-->
			<div class="d-flex align-items-center flex-wrap mr-2">
				<!--begin::Title-->
				<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">New Account</h5>
				<!--end::Title-->
				<!--begin::Separator-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
				<!--end::Separator-->
				
			</div>
			<!--end::Details-->
		</div>
	</div>
	<!--end::Subheader-->

	<!--begin::Entry-->
	<div layout:fragment="content" class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Add Teacher-->
			<div class="d-flex flex-row">
				
				<!--begin::Content-->
				<div class="flex-row-fluid ml-lg-8">
					<!--begin::Card-->
					<div class="card card-custom card-stretch">
						<!--begin::Header-->
						<div class="card-header py-3">
							<div class="card-title align-items-start flex-column">
								<h3 class="card-label text-dark">Teacher</h3>
								<span class="text-muted font-weight-bold font-size-sm mt-1">Enter account information</span>
							</div>
							<div class="card-toolbar">
								<!--begin::Button-->
								<a href="#" class="btn btn-default font-weight-bold">Cancel</a>
								<!--end::Button-->
								<!--begin::Dropdown-->
								<div class="btn-group ml-2">
									<button id="form-submit-and-edit" type="button" class="btn btn-primary font-weight-bold"><i class="flaticon2-writing"></i>Save &amp; Edit</button>
									<button type="button"
										class="btn btn-primary font-weight-bold dropdown-toggle dropdown-toggle-split"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
									<div
										class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right">
										<ul class="navi py-5">
											<li class="navi-item">
												<a id="form-submit-and-add-new" href="javascript:void(0);" class="navi-link"> 
													<span class="navi-icon"> <i class="flaticon2-medical-records"></i></span>
													<span class="navi-text">Save &amp; Add New</span>
												</a>
											</li>
											<li class="navi-item">
												<a id="form-submit-and-list-all" href="javascript:void(0);" class="navi-link">
													<span class="navi-icon"> <i class="flaticon2-hourglass-1"></i></span>
													<span class="navi-text">Save &amp; List All</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!--end::Dropdown-->
							</div>
						</div>
						<!--end::Header-->
						<!--begin::Form-->
						<form id="user-add-form" class="form" th:action="@{/home/admin/teacher/add}" th:object="${user}" method="post">
							<input type="hidden" id="save_option" name="save_option" value="edit">
							<input type="hidden" id="confirm_crud_operation" th:value="${confirm_crud_operation}">
							<!--begin::Body-->
							<div class="card-body col-md-6 offset-md-3">
							
							<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-form-label">Administrator</label>
									<div class="col-3">
										<span class="switch switch-outline switch-icon switch-warning">
											<label>
												<input type="checkbox" id="is_admin" name="is_admin" th:checked="${is_admin}"/>
												<span></span>
											</label>
										</span>
									</div>
								</div>
								<!--end::Form group-->
								
								<!--begin::Form group-->
								<div class="form-group row">
									<label>First Name</label>
									<input class="form-control form-control-lg form-control-solid" type="text" autocomplete="off" th:field="*{firstname}" />
									<span class="form-text text-danger" th:each="error : ${#fields.errors('firstname')}" th:text="|- ${error}|"></span>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label>Last Name</label>
									<input class="form-control form-control-lg form-control-solid" type="text" autocomplete="off" th:field="*{lastname}" />
									<span class="form-text text-danger" th:each="error : ${#fields.errors('lastname')}" th:text="|- ${error}|"></span>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label>Email</label>
									<input class="form-control form-control-lg form-control-solid" type="text" autocomplete="off" th:field="*{email}" />
									<span class="form-text text-danger" th:each="error : ${#fields.errors('email')}" th:text="|- ${error}|"></span>
								</div>
								<!--end::Form group-->
								
												
							</div>
							<!--end::Body-->
						</form>
						<!--end::Form-->
					</div>
				</div>
				<!--end::Content-->


			</div>
			<!--end::Add Teacher-->
		</div>
		<!--end::Container-->

	</div>
	<!--end::Entry-->


	<!--begin::Page Scripts(used by this page) -->
	<th:block layout:fragment="scripts">
		<script th:src="@{/my-assets/js/admin/user/teacher/add.js}"></script>
	</th:block>
	<!--end::Page Scripts -->

</body>
</html>