<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<ul th:fragment="languages" class="kt-nav kt-margin-t-10 kt-margin-b-10">
	<li class="kt-nav__item kt-nav__item--active">
		<a href="#" class="kt-nav__link">
			<span class="kt-nav__link-icon"><img th:src="@{/assets/media/flags/226-united-states.svg}" alt="" /></span>
			<span class="kt-nav__link-text">English</span>
		</a>
	</li>
	<li class="kt-nav__item">
		<a href="#" class="kt-nav__link">
			<span class="kt-nav__link-icon"><img th:src="@{/assets/media/flags/013-italy.svg}" alt="" /></span>
			<span class="kt-nav__link-text">Italian</span>
		</a>
	</li>
</ul>

</body>
</html>