<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="user">
<!--begin: Head -->
<div class="my-user-card kt-user-card kt-user-card--skin-light kt-notification-item-padding-x" th:style="'background-image: url(' + @{/assets/media/misc/bg-1.jpg} + ');'">
	<div class="kt-user-card__avatar">
		<img class="" alt="Pic" th:src="${#authentication.principal.avatar} == null ? @{/my-assets/media/users/default.jpg} : @{'data:image/jpg;base64,'+${new String(#authentication.principal.avatar)}}" />

		<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
		<span class="kt-hidden kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">S</span>
	</div>
	<div class="kt-user-card__name">
		<span sec:authentication="principal.firstname">Sean</span>
		<span sec:authentication="principal.lastname">Stone</span>
	</div>
	<!-- <div class="kt-user-card__badge">
			<span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
		</div>
	 -->
</div>

<!--end: Head -->

<!--begin: Navigation -->
<div class="my-notification kt-notification">
	<a th:href="@{/home/profile}" class="kt-notification__item">
		<div class="kt-notification__item-icon">
			<i class="my-icon-color flaticon2-calendar-3 kt-font-success"></i>
		</div>
		<div class="kt-notification__item-details">
			<div class="kt-notification__item-title kt-font-bold">
				My Profile
			</div>
			<div class="kt-notification__item-time">
				Account settings and more
			</div>
		</div>
	</a>
	<a th:href="@{/home/changepassword}" class="kt-notification__item">
		<div class="kt-notification__item-icon">
			<i class="my-icon-color fa fa-user-secret kt-font-success"></i>
		</div>
		<div class="kt-notification__item-details">
			<div class="kt-notification__item-title kt-font-bold">
				Security
			</div>
			<div class="kt-notification__item-time">
				Password settings and more
			</div>
		</div>
	</a>
	<div class="kt-notification__custom kt-space-between">
		<a th:href="@{/logout}" target="_blank" class="my-btn-signout-1 btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
	</div>
</div>

<!--end: Navigation -->

</div>

</body>
</html>