<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>navbar fragment</title>
</head>
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">

			<!-- See the class MvcConfig for URLs mappings -->

			<a class="navbar-brand" href="/">Examifire</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">

				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav ">
					<li class="nav-item"><a
						th:classappend="${currentPage == 'index'} ? 'active'"
						class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a
						th:classappend="${currentPage == 'login'} ? 'active'"
						class="nav-link" href="#">Menu item one</a></li>
					<li class="nav-item "><a class="nav-link" href="#">Menu
							item two</a></li>
				</ul>
			</div>

			<div sec:authorize="!isAuthenticated()" class="navbar-right">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/register}">Register</a></li>
				</ul>

			</div>

			<div sec:authorize="isAuthenticated()" class="navbar-right">
				<ul class="nav pull-right navbar-nav">
					<li class="dropdown"><a href="#"
						class="dropdown-toggle nav-link" data-toggle="dropdown">Welcome,
							<span sec:authentication="principal.username">User</span> <b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/#}"><i
									class="icon-cog"></i> Preferences</a></li>
							<li><a class="dropdown-item" th:href="@{/#}"><i
									class="icon-envelope"></i> Contact Support</a></li>
							<li class="dropdown-divider"></li>
							<li><a class="dropdown-item" th:href="@{/logout}"><i
									class="icon-off"></i> Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>