<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout.html}" th:with="currentPage='index'">
<!-- th:with="currentPage='login'" it is used to pass parameters to layout in thymeleaf layout-dialect  -->
<head>
<title>Index</title>
</head>

<body>

	<div layout:fragment="content">
		<h2 class="mt-4">Welcome to the Watchlist application!</h2>
		<br>
		<h5>Made for movie lovers who have a hard time choosing their
			next movie to watch.</h5>
	</div>


</body>
</html>