<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<!-- begin:: Header Topbar -->
<div th:fragment="base" class="kt-header__topbar">

	<!--[html-partial:include:{"file":"partials/_header/topbar/_search.html"}]/-->
	<div th:replace="layout/partials/_header/topbar/_search :: search"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_notifications.html"}]/-->
	<div th:replace="layout/partials/_header/topbar/_notifications :: notifications"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_quick-actions.html"}]/-->
	<div th:replace="layout/partials/_header/topbar/_quick-actions :: quick-actions"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_my-cart.html"}]/-->
	<div th:replace="layout/partials/_header/topbar/_my-cart :: my-cart"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_quick-panel.html"}]/-->
	<div th:replace="layout/partials/_header/topbar/_quick-panel :: quick-panel"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_languages.html"}]/-->
	<div th:replace="layout/partials/_header/topbar/_languages :: languages"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_user.html"}]/-->
	<div th:replace="layout/partials/_header/topbar/_user :: user"></div>
</div>

<!-- end:: Header Topbar -->

</body>
</html>