<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout.html}"
	th:with="aside_layout_menu_active_link='dashboard', aside_profile_menu_active_link='account-info'">
<!-- th:with="currentPage='user-edit'" it is used to pass parameters to layout in thymeleaf layout-dialect  -->

<head>
<title>Profile</title>

		<!-- If you using JSON, then it is not possible to submit the CSRF token within an HTTP parameter.
			 Instead you can submit the token within a HTTP header.
			 A typical pattern would be to include the CSRF token within your meta tags 
			 More on that: 
			  - https://docs.spring.io/spring-security/site/docs/3.2.0.CI-SNAPSHOT/reference/html/csrf.html
			  - https://www.baeldung.com/spring-security-csrf
		-->
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

<!--
	You don't need to put the layout:fragment attribute
	into the <head> - the decoration process will automatically copy the 
	<head> section of this content templates into the layout page.
 
	<th:block layout:fragment="styles">
		<link th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css" />
	</th:block>
-->
	<!--begin::Page Styles (used by this page) -->
	<link th:href="@{/assets/plugins/custom/cropper/cropper.bundle.css}" rel="stylesheet" type="text/css" />
	<!--end::Page Styles -->
</head>

<body>


	<!--begin::Subheader-->
	<div layout:fragment="contentheader" class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
		<div th:replace="account/profile/subheader :: subheader" ></div>
	</div>
	<!--end::Subheader-->
	
	<!--begin::Entry-->
	<div layout:fragment="content" class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Profile 2-->
			<div class="d-flex flex-row">
				<!--begin::Aside-->
				<div th:replace="account/profile/aside :: aside" ></div>
				<!--end::Aside-->


				<!--begin::Content-->
				<div class="flex-row-fluid ml-lg-8">
					<!--begin::Card-->
					<div class="card card-custom card-stretch">
						<!--begin::Header-->
						<div class="card-header py-3">
							<div class="card-title align-items-start flex-column">
								<h3 class="card-label text-dark">Account Information</h3>
								<span class="text-muted font-weight-bold font-size-sm mt-1">Update your personal information</span>
							</div>
							<div class="card-toolbar">
								<button id="form_submit" type="submit" class="btn btn-light-primary">Save Changes</button>
							</div>
						</div>
						<!--end::Header-->
						<!--begin::Form-->
						<form id="profile_form" class="form" th:action="@{/home/profile/account-info}" th:object="${user}" enctype="multipart/form-data" method="post">
							<input type="hidden" id="confirm_crud_operation" th:value="${confirm_crud_operation}">
							<!--begin::Body-->
							<div class="card-body">
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">Avatar</label>
									<div class="col-lg-9 col-xl-6">
										<div class="image-input image-input-outline">
											<div id="avatar_account_info" class="image-input-wrapper"
												th:style="${user.avatar} == null ? 'background-image: url(' + @{/my-assets/media/users/default.jpg} + ');' : 'background-image: url(data:image/jpg;base64,' + ${new String(user.avatar)} + ');'"></div>
											<label
												class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
												data-action="change" data-toggle="tooltip" title=""
												data-original-title="Change avatar"> <i
												class="fa fa-pen icon-sm text-muted"></i>
												<input type="file" class="sr-only" id="file_avatar" name="image" accept=".png, .jpg, .jpeg"> 
											</label> <span
												class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
												data-action="remove" data-toggle="tooltip"
												title="Remove avatar"> <i
												class="ki ki-bold-close icon-xs text-muted"></i>
											</span>
										</div>
										<span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
										
										<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
									      <div class="modal-dialog" role="document">
									        <div class="modal-content">
									          <div class="modal-header">
									            <h5 class="modal-title" id="modalLabel">Change Avatar</h5>
									            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<i aria-hidden="true" class="ki ki-close"></i>
									            </button>
									          </div>
									          <div class="modal-body">
									            <div class="img-container">
									              <img id="modal_image_avatar" src="" style="max-width: 100%; max-height: 300px;">
									            </div>
									          </div>
									          <div class="modal-footer">
									            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									            <button type="button" class="btn btn-primary" id="modal_change_avatar">Change</button>
									          </div>
									        </div>
									      </div>
									    </div>
									</div>
								</div>
								
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">First Name</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control form-control-lg form-control-solid" th:classappend="${#fields.hasErrors('firstname')} ? is-invalid" type="text" autocomplete="off" th:field="*{firstname}" />
										<span class="form-text text-danger" th:each="error : ${#fields.errors('firstname')}" th:text="|- ${error}|"></span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">Last Name</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control form-control-lg form-control-solid" th:classappend="${#fields.hasErrors('lastname')} ? is-invalid" type="text" autocomplete="off" th:field="*{lastname}" />
										<span class="form-text text-danger" th:each="error : ${#fields.errors('lastname')}" th:text="|- ${error}|"></span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row" sec:authorize="hasAuthority('ROLE_STUDENT')">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">Student ID Number</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control form-control-lg form-control-solid" th:classappend="${#fields.hasErrors('identificationNumber')} ? is-invalid" type="text" autocomplete="off" th:field="*{identificationNumber}" />
										<span class="form-text text-danger" th:each="error : ${#fields.errors('identificationNumber')}" th:text="|- ${error}|"></span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">Email</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control form-control-lg form-control-solid" th:classappend="${#fields.hasErrors('email')} ? is-invalid" type="text" autocomplete="off" th:field="*{email}" />
										<div class="form-text text-danger" th:each="error : ${#fields.errors('email')}" th:text="|- ${error}|"></div>
									</div>
								</div>
								<!--end::Form group-->
								
							</div>
							<!--end::Body-->
						</form>
						<!--end::Form-->
					</div>
				</div>
				<!--end::Content-->


			</div>
			<!--end::Profile 2-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->


	<!--begin::Page Scripts(used by this page) -->
	<th:block layout:fragment="scripts">
		<script th:src="@{/assets/plugins/custom/cropper/cropper.bundle.js}"></script>
		<script th:src="@{/my-assets/js/account/profile/aside.js}"></script>
		<script th:src="@{/my-assets/js/account/profile/account-info.js}"></script>

	</th:block>
	<!--end::Page Scripts -->
	
</body>
</html>