<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	th:with="aside_layout_menu_active_link='dashboard', aside_profile_menu_active_link='change-password'">
<!-- th:with="currentPage='user-edit'" it is used to pass parameters to layout in thymeleaf layout-dialect  -->

<head>
<title>Profile</title>

<!--
	You don't need to put the layout:fragment attribute
	into the <head> - the decoration process will automatically copy the 
	<head> section of this content templates into the layout page.
 
	<th:block layout:fragment="styles">
		<link th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css" />
	</th:block>
-->
	<!--begin::Page Styles (used by this page) -->
	<!--end::Page Styles -->
</head>

<body>


	<!--begin::Subheader-->
	<div layout:fragment="contentheader" class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
		<div th:replace="account/profile/subheader :: subheader" ></div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div layout:fragment="content" class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Profile 2-->
			<div class="d-flex flex-row">
				<!--begin::Aside-->
				<div th:replace="account/profile/aside :: aside" ></div>
				<!--end::Aside-->


				<!--begin::Content-->
				<div class="flex-row-fluid ml-lg-8">
					<!--begin::Card-->
					<div class="card card-custom card-stretch">
						<!--begin::Header-->
						<div class="card-header py-3">
							<div class="card-title align-items-start flex-column">
								<h3 class="card-label text-dark">Password Information</h3>
								<span class="text-muted font-weight-bold font-size-sm mt-1">Update your password</span>
							</div>
							<div class="card-toolbar">
								<button id="form_submit" type="submit" class="btn btn-light-primary">Save Changes</button>
							</div>
						</div>
						<!--end::Header-->
						<!--begin::Form-->
						<form id="profile_form" class="form" th:action="@{/home/profile/change-password}" th:object="${user}" method="post">
							<input type="hidden" id="confirm_crud_operation" th:value="${confirm_crud_operation}">
							<!--begin::Body-->
							<div class="card-body">
								<div class="row">
									<label class="col-xl-3"></label>
									<div class="col-lg-9 col-xl-6">
										<h5 class="font-weight-bold mb-6">Change Password</h5>
									</div>
								</div>
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">Old Password</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control form-control-lg form-control-solid" type="password" autocomplete="off" placeholder="Old Password" id="old_password" name="old_password" />
										<span class="form-text "><a href="/forgotpassword" class="kt-link my-link kt-font-sm kt-font-bold kt-margin-t-5">Forgot password ?</a></span>
										<span class="form-text text-danger" th:each="error : ${#fields.detailedErrors()}" th:if="${error.code == 'PasswordMatchError'}" th:text="|- ${error.message}|">PasswordMatchError</span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">New Password</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control form-control-lg form-control-solid" type="password" autocomplete="off" placeholder="New Password" th:field="*{password}" />
	 									<span class="form-text text-danger" th:each="error : ${#fields.errors('password')}" th:text="|- ${error}|"></span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label text-right">Confirm Password</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control form-control-lg form-control-solid" type="password" autocomplete="off" placeholder="Confirm Password" id="confirm_password" name="confirm_password" />
										<span class="form-text text-danger" th:each="error : ${#fields.detailedErrors()}" th:if="${error.code == 'ConfirmPasswordError'}" th:text="|- ${error.message}|">ConfirmPasswordError</span>		
									</div>
								</div>
								<!--end::Form group-->
							</div>
							<!--end::Body-->
						</form>
						<!--end::Form-->
					</div>
				</div>
				<!--end::Content-->


			</div>
			<!--end::Profile 2-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->


	<!--begin::Page Scripts(used by this page) -->
	<th:block layout:fragment="scripts">
		<script th:src="@{/my-assets/js/account/profile/aside.js}"></script>
		<script th:src="@{/my-assets/js/account/profile/change-password.js}"></script>
	</th:block>
	<!--end::Page Scripts -->
	
</body>
</html>