<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout.html}"
	th:with="aside_layout_menu_active_link='teachers',
			 aside_layout_submenu_active_link='list-all-teachers',
			 aside_profile_menu_active_link='account-info'">
<!-- th:with="currentPage='user-edit'" it is used to pass parameters to layout in thymeleaf layout-dialect  -->

<head>
<title>Edit Teacher</title>

<!--
	You don't need to put the layout:fragment attribute
	into the <head> - the decoration process will automatically copy the 
	<head> section of this content templates into the layout page.
 
	<th:block layout:fragment="styles">
		<link th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css" />
	</th:block>
-->
	<!--begin::Page Styles (used by this page) -->

	<!--end::Page Styles -->
</head>

<body>


	<!--begin::Subheader-->
	<div layout:fragment="contentheader" class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
		<div th:replace="admin/user/teacher/edit/subheader :: subheader" ></div>
	</div>
	<!--end::Subheader-->
	
	<!--begin::Entry-->
	<div layout:fragment="content" class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Profile 2-->
			<div class="d-flex flex-row">
				<!--begin::Aside-->
				<div th:replace="admin/user/teacher/edit/aside :: aside" ></div>
				<!--end::Aside-->


				<!--begin::Content-->
				<div class="flex-row-fluid ml-lg-8">
					<!--begin::Card-->
					<div class="card card-custom card-stretch">
						<!--begin::Header-->
						<div class="card-header py-3">
							<div class="card-title align-items-start flex-column">
								<h3 class="card-label text-dark">Account Information</h3>
								<span class="text-muted font-weight-bold font-size-sm mt-1">Edit user account</span>
							</div>
							<div class="card-toolbar">
								<a th:href="@{/home/admin/teacher/list}" class="btn btn-light mr-2">Back</a>
								<button id="form_submit" type="submit" class="btn btn-light-primary">Save Changes</button>
							</div>
						</div>
						<!--end::Header-->
						<!--begin::Form-->
						<form id="profile_form" class="form" th:action="@{/home/admin/teacher/edit/{id}/account-info(id=${user.id})}" th:object="${user}" method="post">
							<input type="hidden" id="confirm_crud_operation" th:value="${confirm_crud_operation}">
							<!--begin::Body-->
							<div class="card-body">
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Administrator</label>
									<div class="col-sm-9">
										<span class="switch switch-outline switch-icon switch-warning">
											<label>
												<input type="checkbox" id="is_admin" name="is_admin" th:checked="${is_admin}"/>
												<span></span>
											</label>
										</span>
									</div>
								</div>
								<!--end::Form group-->
								
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">First Name</label>
									<div class="col-sm-10">
										<input class="form-control form-control-lg form-control-solid" th:classappend="${#fields.hasErrors('firstname')} ? is-invalid" type="text" autocomplete="off" th:field="*{firstname}" />
										<span class="form-text text-danger" th:each="error : ${#fields.errors('firstname')}" th:text="|- ${error}|"></span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Last Name</label>
									<div class="col-sm-10">
										<input class="form-control form-control-lg form-control-solid" th:classappend="${#fields.hasErrors('lastname')} ? is-invalid" type="text" autocomplete="off" th:field="*{lastname}" />
										<span class="form-text text-danger" th:each="error : ${#fields.errors('lastname')}" th:text="|- ${error}|"></span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										<input class="form-control form-control-lg form-control-solid" th:classappend="${#fields.hasErrors('email')} ? is-invalid" type="text" autocomplete="off" th:field="*{email}" />
										<span class="form-text text-danger" th:each="error : ${#fields.errors('email')}" th:text="|- ${error}|"></span>
									</div>
								</div>
								<!--end::Form group-->
								
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Account Enabled</label>
									<div class="col-sm-10">
										<span class="switch switch-outline switch-icon switch-success">
											<label>
												<input type="checkbox" th:field="*{accountEnabled}"/>
												<span></span>
											</label>
										</span>
									</div>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Password Non Expired</label>
									<div class="col-sm-10">
										<span class="switch switch-outline switch-icon switch-success">
											<label>
												<input type="checkbox" th:field="*{passwordNonExpired}"/>
												<span></span>
											</label>
										</span>
									</div>
								</div>
								<!--end::Form group-->
								
							</div>
							<!--end::Body-->
						</form>
						<!--end::Form-->
					</div>
				</div>
				<!--end::Content-->


			</div>
			<!--end::Profile 2-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->


	<!--begin::Page Scripts(used by this page) -->
	<th:block layout:fragment="scripts">
		<script th:src="@{/my-assets/js/admin/user/teacher/edit/aside.js}"></script>
		<script th:src="@{/my-assets/js/admin/user/teacher/edit/account-info.js}"></script>

	</th:block>
	<!--end::Page Scripts -->
	
</body>
</html>