<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	th:with="aside_layout_menu_active_link='teachers',
			 aside_layout_submenu_active_link='list-all',
			 aside_profile_menu_active_link='courses'">
<!-- th:with="currentPage='user-edit'" it is used to pass parameters to layout in thymeleaf layout-dialect  -->

<head>
<title>Edit Teacher</title>

<!--
	You don't need to put the layout:fragment attribute
	into the <head> - the decoration process will automatically copy the 
	<head> section of this content templates into the layout page.
 
	<th:block layout:fragment="styles">
		<link th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css" />
	</th:block>
-->
	<!--begin::Page Styles (used by this page) -->
	<link th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css" />
	<!--end::Page Styles -->
</head>

<body>


	<!--begin::Subheader-->
	<div layout:fragment="contentheader" class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
		<div th:replace="admin/user/teacher/edit/subheader :: subheader" ></div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div layout:fragment="content" class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Profile 2-->
			<div class="d-flex flex-row">
				<!--begin::Aside-->
				<div th:replace="admin/user/teacher/edit/aside :: aside" ></div>
				<!--end::Aside-->


				<!--begin::Content-->
				<div class="flex-row-fluid ml-lg-8">
					<!--begin::Card-->
					<div class="card card-custom card-stretch">
						<!--begin::Header-->
						<div class="card-header py-3">
							<div class="card-title align-items-start flex-column">
								<h3 class="card-label text-dark">Courses Information</h3>
								<span class="text-muted font-weight-bold font-size-sm mt-1">Edit user Courses</span>
							</div>
							<div class="card-toolbar">
								<a th:href="@{/home/admin/teacher/list}" class="btn btn-light mr-2">Back</a>
								<button id="form_submit" type="submit" class="btn btn-light-primary">Save Changes</button>
							</div>
						</div>
						<!--end::Header-->
						<div class="card-body">
							<input type="hidden" id="confirm_crud_operation" th:value="${confirm_crud_operation}">
							<input type="hidden" id="persistent_user_id" th:value="${persistentUser.id}">
							<!--begin: Datatable-->
							<table
								class="table table-separate table-head-custom table-checkable"
								id="kt_datatable" style="width:100%">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Description</th>
										<th>CFU/ECTS</th>
										<th>Academic Year</th>
										<th>Actions</th>
									</tr>
								</thead>
							</table>
							<!--end: Datatable-->
						</div>
					</div>
				</div>
				<!--end::Content-->


			</div>
			<!--end::Profile 2-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->


	<!--begin::Page Scripts(used by this page) -->
	<th:block layout:fragment="scripts">
	<script th:src="@{/assets/plugins/custom/datatables/datatables.bundle.js}" type="text/javascript"></script>
		<script th:src="@{/my-assets/js/jquery.spring-friendly.js}" type="text/javascript"></script>
		<script th:src="@{/my-assets/js/admin/user/teacher/edit/aside.js}"></script>
		<script th:src="@{/my-assets/js/admin/user/teacher/edit/courses.js}"></script>
	</th:block>
	<!--end::Page Scripts -->
	
</body>
</html>